<div class="container" style="margin-top: 20px;">
    <h1 class="title">
        Amethyst
    </h1>
    <p class="subtitle">
        Handcrafted <span class="tag">URL shortener</span> service <i class="fas fa-paperclip" style="color: blue;"></i>
    </p>

    <form method="POST">
        <div class="field">
            <div class="control">
                <label class="label"><i class="fas fa-tags" style="color: black"></i> Name</label>
                <input class="input" type="text" name="name" placeholder="name" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label"><i class="fas fa-link" style="color: grey"></i> URL</label>
                <input class="input" type="url" name="url" placeholder="link" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label"><i class="fas fa-key" style="color: gold"></i> Password</label>
                <input class="input" type="text" name="password" placeholder="password" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <p>Made with <i class="fas fa-heart" style="color: red;"></i> by Mazz</p>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>